{{ $peek := 2 }} 
{{ $chunk := (add (mul $peek 2) 1) }}
{{ $min := (add $peek 1) }}
{{ $max := (sub .Paginator.TotalPages $peek) }}

{{ if gt .Paginator.TotalPages 1 }}
<div id="pagination">
  <ul class="items">

    {{ if .Paginator.HasPrev }}
    <li class="item">
      <a href="{{ .Paginator.Prev.URL }}">{{ .Site.Data.icons.svg.chevronl | safeHTML }}</a>
    </li>
    {{ end }}

    {{ if gt .Paginator.TotalPages $chunk }}
    {{ if ge .Paginator.PageNumber (sub $chunk 1) }}
    <li class="item">
      <a href="{{ .Paginator.First.URL }}">1</a>
    </li>
    {{ if ge .Paginator.PageNumber $chunk }}
    <span class="hellip">&hellip;</span>
    {{ end }}
    {{ end }}
    {{ end }}

    {{ range .Paginator.Pagers }} {{ $.Scratch.Set "PaginationRules" false }}

    {{ if gt .Paginator.TotalPages $chunk }}

    {{ if le $.Paginator.PageNumber $min }}
    {{ if le .PageNumber $chunk }}
    {{ $.Scratch.Set "PaginationRules" true }}
    {{ end }}

    {{ else if ge $.Paginator.PageNumber $max }}

    {{ if gt .PageNumber (sub .Paginator.TotalPages $chunk) }}
    {{ $.Scratch.Set "PaginationRules" true }}
    {{ end }}

    {{ else }}

    {{ if and ( ge .PageNumber (sub $.Paginator.PageNumber $peek) ) ( le .PageNumber (add $.Paginator.PageNumber $peek) ) }}
    {{ $.Scratch.Set "PaginationRules" true }}
    {{ end }}

    {{ end }}

    {{ else }}

    {{ $.Scratch.Set "PaginationRules" true }}

    {{ end }}

    {{ if eq ($.Scratch.Get "PaginationRules") true }}
    <li class="item">
      {{ if eq . $.Paginator }}
      <span class="current">{{ .PageNumber }}</span>
      {{ else }}
      <a href="{{ .URL }}">{{ .PageNumber }}</a>
      {{ end }}
    </li>
    {{ end }}

    {{ end }}

    {{ if gt .Paginator.TotalPages $chunk }}
    {{ if le .Paginator.PageNumber (sub .Paginator.TotalPages (add $peek 1)) }}
    {{ if le .Paginator.PageNumber (sub .Paginator.TotalPages (sub $chunk 1)) }}
    <span class="hellip">&hellip;</span>
    {{ end }}
    <li class="item">
      <a href="{{ .Paginator.Last.URL }}">{{ .Paginator.TotalPages }}</a>
    </li>
    {{ end }} 
    {{ end }}

    {{ if .Paginator.HasNext }}
    <li class="item">
      <a href="{{ .Paginator.Next.URL }}">{{ .Site.Data.icons.svg.chevronr | safeHTML }}</a>
    </li>
    {{ end }}

  </ul>
</div>

{{ end }}
