{{ $x := .Site.Data.icons.svg.x }}

<section id="search-section">
  <div class="search-section-top">
    <span role="button" class="toggle-btn-slide-search">{{ $x | safeHTML }}</span>
  </div>
  <div class="search-section-form">
    <input id="search-form" class="search-form" type="text" placeholder="search">
    <label for="search-form">/gi</label>
  </div>
  <div class="results"></div>
</section>
