{{ $icons := .Site.Data.icons.svg }}

<div id="mobile-nav">
  <div class="mobile-nav-container">
    <div class="mobile-nav-topbar">
        {{ range .Site.Menus.socials }}
        <a class="item" href="#">{{ index $icons (.Name | lower) | safeHTML }}</a>
        {{ end }}
        <span class="item toggle-btn-slide-menu" aria-label="mobile-close" role="button">{{ $icons.x | safeHTML }}</span>
    </div>
    <div class="mobile-nav-content">
      <div class="mobile-menus">
      </div>
      <div class="settings"></div>
    </div>
  </div>
</div>
