{{ define "main" }}
<main>
  <h1>Auths</h1>
  <ul>
    {{ range .Data.Pages }}
    <h2><a href="{{ .Permalink }}">{{ .Params.name }}</a></h2>
    <small>{{ .Params.twitter }}</small>
    {{ end }}
  </ul>
</main>
{{ end }}
