<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "components/slidemenu.html" . }}
    {{ partial "components/search.html" . }}
    {{ block "header" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
    {{ block "script" . }}{{ end }}
  </body>
</html>
