{{ define "main" }}
{{ $count := 10 }}
{{ $url := "http://1.bp.blogspot.com/-mh9m9fZOYAw/X084D6x8RII/AAAAAAAAAU8/-8Y9T4FsWv4vpGt49FbWhOsAa3QEacnCgCPcBGAYYCw/s0/gg-no-image.png" }}
{{ $noimage := (resources.Get "img/no-img.png").Resize "360x240" }}

<main>
  <div class="entry-container">
  {{ range (.Paginator $count).Pages }}

  {{ if isset .Params "thumbnail" }}
    {{ $.Scratch.Set "img" .Params.Thumbnail }}
  {{ else }}
    {{ $.Scratch.Set "img" $noimage.Permalink }}
  {{ end }}


  <article>
    <div class="entry-thumbnail">
      <img src="{{ replace ($.Scratch.Get "img")  "/s0/" "/w360-h240-p-k-no-nu/" }}" alt="{{ .Title }}">
    </div>
    <div class="entry-header">
      <h2 class="entry-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      <div class="entry-meta">
        <span class="entry-date">{{ .Date.Format "Jan 2" }}{{ if ne (.Date.Format "2006") (now.Format "2006") }}, {{ .Date.Format "2006" }}{{ end }}
        </span>
        
        <span class="entry-readtime">
          {{ if gt .ReadingTime 0 }}
            <span>&middot;</span> 
            {{ .ReadingTime }} min read
          {{ end }}
        </span>
      </div>
    </div>
  </article>
  {{ end }}

  </div>
  {{ partial "components/pagination.html" . }}
</main>
{{ end }}
