{{ define "main" }}
{{ $person := .Site.Data.icons.svg.person }}
{{ $clock := .Site.Data.icons.svg.clock }}

  <main class="single">

    <ul class="terms">
      {{ range .Params.tags }}
      <li class="term"><a href="{{ $.Site.BaseURL }}/tags/{{ urlize . }}">#{{ . }}</a></li>
      {{ end }}
    </ul>

    <h1 class="title">{{ .Title }}</h1>

    <div class="authors">
      <div class="author-image">
        {{ $person | safeHTML }}
      </div>
      <div class="author-name">
        <span class="author-label">Author</span>
      {{ range .Params.authors }}
      {{ with $.Site.GetPage (printf "authors/%s" (urlize .)) }}
      <span class="author-title"><a href="{{ .Permalink }}">{{ .Params.name }}</a></span>
      {{ end }}
      {{ end }}
      </div>
      <div class="reading-time">
        <span class="reading-time-label">Reading Time</span>
      {{ if gt .ReadingTime 0 }}
      <span class="reading-time-estimation">{{ .ReadingTime }} Minutes</span>
      {{ end }}
      </div>
      <div class="published">
        <span class="published-label">Publised</span>
        <span class="published-date">{{ .Date.Format "January 2, 2006" }}</span>
      </div>
      <div class="updated">
        <span class="updated-label">Publised</span>
        <span class="updated-date">{{ .Lastmod.Format "January 2, 2006" }}</span>
      </div>
    </div>

    <section class="content">
      {{ .Content }}
    </section>
  </main>
{{ end }}
