{{ define "main" }}
{{ $count := "4" }}
<main>
  <h1>{{ .Title }}</h1>

  {{ range (.Paginator $count).Pages }}

  {{ if isset .Params "thumbnail" }}
    {{ $.Scratch.Set "img" .Params.Thumbnail }}
  {{ else }}
    {{ $.Scratch.Set "img" "http://1.bp.blogspot.com/-mh9m9fZOYAw/X084D6x8RII/AAAAAAAAAU8/-8Y9T4FsWv4vpGt49FbWhOsAa3QEacnCgCPcBGAYYCw/s0/gg-no-image.png" }}
  {{ end }}




  <article>
    <div class="tags">
      <ul>
        {{ range (.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
    </div>
    <div class="thumbnail">
      <img src="{{ replace ($.Scratch.Get "img")  "/s0/" "/w360-h180-p-k-no-nu/" }}" alt="{{ .Title }}">
    </div>
    <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  </article>
  {{ end }} {{ partial "components/pagination.html" . }}

</main>
{{ end }}
