main {

  .entry-container {
    display: table;
    clear: both;

    &::after, &::before {
      clear: both;
    }
  }

  article {
    width: 50%;
    float: left;
    padding: 10px;

    .entry-thumbnail {

      img {
        width: 100%;
      }
    }

    .entry-header {
      color: rgba($color: #000000, $alpha: 1.0);

      .entry-title {
        max-height: 3.5rem;
        line-height: 1.2rem;
        overflow: hidden;
        font-size: 1rem;
      }
      .entry-meta {
        font-size: .65rem;
      }

      a {
        color: inherit;
      }
    }
  }
}
