.slide-menu-opened {

  #mobile-nav {
    overflow: auto;
  }

  body {
    overflow: hidden;
    position: fixed;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1.0);
  color: #333;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
  transition: ease .3s;

  .navbar-hide & {
    transform: translateY(-100%);
  }

  .container {
    max-width: 1200px;
    min-height: 52px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .toggle-btn-slide-menu,
    .blog-title,
    .toggle-btn-slide-search {
      display: inherit;
      align-items: center;
      padding: 0 0.8rem;
      cursor: pointer;
    }

    .ham-menu, svg {
      min-width: 1.6rem;

      i {
        display: block;
        width: 100%;
        height: 2px;
        margin: 6px 0;
        background-color: currentColor;

        &:nth-child(3) {
          width: 70%;
        }
      }
    }

    .toggle-btn-slide-search {
      font-size: 1.5rem;
    }
  }

  .blog-title {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;

    a {
      color: inherit;
    }
  }

  .slide-menu-opened & {
    ul {
      transform: translateX(0);
    }
  }

  ul {
    transform: translateX(-110%);
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1.0);
    width: 80%;
    height: 100%;
    padding: 10px;
    color: currentColor;
    overflow: hidden;
    transition: ease .3s;

    li {
      list-style: none;
      padding: 5px 0;

      a {
        font-size: 2.5rem;
        text-decoration: none;
        color: inherit;
      }
    }

    .slide-nav-top {
      display: flex;
      padding: 0;

      .toggle-btn-slide-menu {
        position: fixed;
        top: 0;
        right: 8px;
        padding: 4px;
        margin-left: auto;
        font-size: 1.5rem;
      }
    }
  }
}
