#pagination {
  margin-bottom: 10px;

  .items {
    display: flex;
    justify-content: center;

    .hellip {
      margin: auto 5px 2px 3px;
      display: flex;
      align-items: flex-end;
    }
  }

  .item {
    list-style: none;
    margin-right: 4px;
    color: #333;
    
    a {
      border: 1px solid #e3e3e3;

      &:hover {
        background-color: #333;
        color: #fff;
      }
    }

    a, .current {
      min-width:32px;
      height: 32px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #333;
    }

    .current {
      border: 1px solid #4DB2EC;
      background-color: #4DB2EC;
      color: #fff;
    }
  }

}
