.open-search-section {
  overflow: hidden;
}

#search-section {
  transform: translateX(100%);
  position: fixed;
  padding: 10px;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  transition: ease .3s;
  
  .open-search-section & {
    transform: translateX(0);
  }

  .search-section-form {
    position: relative;

    label {
      position: absolute;
      top: 4px;
      right: 6px;
      background-color: #ccc;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 3px 5px;
      line-height: 1.3rem;
    }
  }

  .search-form {
    display: block;
    width: 100%;
    padding: 6px;
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: center;
    outline: none;
    border: 1px solid #ccc;
    background: transparent;
  }

  .search-section-top {
    display: flex;
    margin-bottom: 10px;

    .toggle-btn-slide-search {
      margin-left: auto;
      font-size: 1.5rem;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        pointer-events: none;
      }
    }
  }

  .results {

    .items {
      margin-top: 10px;
      border: 1px solid rgba($color: #ccc, $alpha: .7);
      padding: 10px;

      .item {
        list-style: none;
        margin-bottom: 8px;

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          font-size: 1.2rem;
          color: rgba($color: #000000, $alpha: 1.0);
        }
      }
    }
  }
}
