.single {

  & > * {
    margin: 0 10px;
  }

  p {
    margin-top: 1rem;
  }

  .thumbnail {
    max-width: 100%;
    margin: inherit 0;
  }

  .title {
    margin: 10px inherit;
  }

  .authors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 7px;

    .author-image {
      display: inline-flex;
      border: 1px solid rgba($color: #000000, $alpha: .2);
      border-radius: 50%;
      padding: 2px;
      margin-right: 8px;

      svg {
        background-color: rgba($color: yellow, $alpha: 1.0);
        padding: 5px;
        border-radius: 50%;
        font-size: 2.5rem;
      }
    }

    .author-name, .reading-time, .published, .updated {
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      .author-label, .reading-time-label, .published-label, .updated-label {
        font-size: .8rem;
        color: rgba($color: #000000, $alpha: .4);
      }

      .author-title, .reading-time-estimation {
        color: rgba($color: #000000, $alpha: .7);

        a {
          color: inherit;
        }
      }
    }
  }

  .terms {
    display: flex;

    .term {
      list-style: none;
      margin-right: 5px;
      font-size: .8rem;
    }
    a {
      color: rgba($color: #000000, $alpha: .6);
    }
  }
}
