#mobile-nav {
  transform: translateX(-110%);
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;

  .slide-menu-opened & {
    transform: translateX(0);
    z-index: 1;
  }

  .mobile-nav-topbar {
    display: flex;
    font-size: 1.5rem;

    .item {
      color: inherit;
      display: flex;
      align-items: center;
      padding: 5px;

      &[aria-label*="close"] {
        margin-left: auto;
        cursor: pointer;
      }
    }
  }
  .mobile-menus {
    .item {
      font-size: 1.5rem;
    }
    a {
      color: inherit;
    }
  }
}
