{{ define "script" }}
{{- $libs := resources.Get "js/libs.js" | resources.Minify -}}
{{- $main := resources.Get "js/main.js" | resources.Minify -}}
  <script src="{{ $libs.Permalink }}" defer></script>
  <script src="{{ $main.Permalink }}" defer></script>
{{ end }}
