{{ $x := .Site.Data.icons.svg.x }}
{{ $search := .Site.Data.icons.svg.search }}

<nav>
  <section class="container">

    <div role="button" class="toggle-btn-slide-menu">
      <span class="ham-menu">
        <i></i><i></i><i></i>
      </span>
    </div>


    {{ if .IsPage }}
      <span class="blog-title">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </span>
    {{ else }}
    <h1 class="blog-title">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </h1>
    {{ end }}

    <ul>
      <!--<li class="slide-nav-top">-->
        <!--<span role="button" class="toggle-btn-slide-menu">{{ $x | safeHTML }}</span>-->
      <!--</li>-->
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL | absURL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>

    <a class="toggle-btn-slide-search">
      {{ $search | safeHTML }}
    </a>

  </section>
</nav>
