nav {
  padding: 18px 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 5%), 0 0 0 transparent;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .right {
      margin-left: auto;
    }
  }

  h1 {
    font-size: 1.35rem;
    margin-right: 1.75rem;
    text-transform: uppercase;
  }

  ul {
    display: flex;

    li {
    margin-right: 1.35rem;
      list-style: none;

      a {
        font-size: 1.25rem;
        text-decoration: none;
        color: #444;
      }
    }
  }
}
